/**
 * Dean's theme customizations.
 *
 * Must @import these via the site's theme's css file.
 *
 * For some reason the @import wasn't working at the bottom, 
 * so it's at the top, which means you need to use !important
 * which sucks.
 */

@font-face {
	font-family: 'faded';
    src: url('/static/font/faith-collapsing.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.site-title {
	font-family: faded;
	font-size: 100px !important;
	color: white;
	text-shadow: 2px 2px 4px rgba(0,0,0,.7);
	text-decoration: none !important;
}

.site-description {
	color: white;
	text-shadow: 2px 2px 4px rgba(0,0,0,.7);
}

/* the "powered by wordpress" */
.site-info {
	display: none;
}

/* body content of each page */
.site-main {
	padding: 0 1em;
	z-index: 0;
	min-height: 800px;
}

.site-main:after {
    content: "";
    background: url('/static/img/oldpaper1000px.jpg');
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}

/* page title */
#page .entry-header {
	display:none;
}

#page .entry-content {
	font-size: 150%;
}

.single h3 {
	
}

.single .intro {
	display: table;
	width: 100%;
}

.single .intro .left, .single .intro .right {
	display: table-cell;
	vertical-align: top;
}

.single .intro h1 {
	margin-bottom: 0;
	font-family: faded;
	text-shadow: 0px 1px 0px rgba(255,255,255,.9);
}

.single .tagline {
	margin-bottom: 1.5em;
	text-shadow: 0px 1px 0px rgba(255,255,255,.9);
}

.single .main-pic {
	text-align: right;
	padding: 1em;
}

.single .main-pic img {
	max-width: 400px;
	border: solid #222 1px;
	opacity: 0.7;
	border-radius: 5px;
	-webkit-animation: swinging 10s;
}

@-webkit-keyframes swinging {
	0% { -webkit-transform: rotate(0); }
	5% { -webkit-transform: rotate(10deg); }
	10% { -webkit-transform: rotate(-9deg); }
	15% { -webkit-transform: rotate(8deg); }
	20% { -webkit-transform: rotate(-7deg); }
	25% { -webkit-transform: rotate(6deg); }
	30% { -webkit-transform: rotate(-5deg); }
	35% { -webkit-transform: rotate(4deg); }
	40% { -webkit-transform: rotate(-3deg); }
	45% { -webkit-transform: rotate(2deg); }
	50% { -webkit-transform: rotate(0); } /* Come to rest at 50%. The rest is just stillness */
	100% { -webkit-transform: rotate(0); }
}

.single .tagline {
	font-weight: bold;
	font-size: larger;
}

.single .tagline:before {
	content: open-quote;
	font-size: 120%;
}

.single .tagline:after {
	content: close-quote;
	font-size: 120%;
}

.single .label {
	font-weight: bold;
	width: 12em;
	display: inline-block;
	text-align: right;
	padding-right: .5em;
}

/* on smaller windows, the site title begins to wrap */
@media only screen and (max-width: 800px) {
	/* disappear tagline */
	.site-description {
		display: none;
	}
	
	/* shrink header title */
	.site-title {
		font-size: 80px !important;
	}
}

/* on even smaller windows, site title wraps and needs spacing changed */
@media only screen and (max-width: 605px) {
	/* shrink header title */
	.site-title {
		padding-top: .5em !important;
	}
}
